body { 
    background: #EEEEEE;
    display: flex;
}

.gallery { 
    max-width: 100%;
}


.gallery ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.gallery ul li { 
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    list-style: none;
}

.gallery ul li img { 
    object-fit: contain;
    border: 7px solid black;
    padding: 10px;
}