body { 
    background: rgb(238, 238, 238);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header { 
    border-bottom: 3px solid black;
    padding: 10px;
}

header h1 { 
    font-size: 40px;
}

main { 
    padding: 10px;
}

footer { 
    background: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    padding: 10px;
}