@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

li {
    display: inline-block;
    list-style-type: none;
}

a {
    border-radius: 50%;
}

i { 
   margin-left: 10px;
   margin-top: 10px;
   font-size: 40px;
}


i::before {
    content: '';
    background: #EEEEEE;
    padding: 10px;
    border-radius: 30px;
}

.fa-facebook-square:hover { 
    color: #3B5998;
}

.fa-twitter:hover { 
    color: #00ACED;
}

.fa-google-plus:hover {
    color: #DD4B39;
}

.fa-linkedin:hover { 
    color: #007BB6;
}

.fa-instagram:hover {
    color: #5581A4;
}
