html ,
::before ,
::after  { 
    box-sizing : border-box;
}


.container,
section { 
    display: flex;
}

.container { 
    margin: 100px auto;
    max-width: 65vw;
}


span { 
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}

.week { 
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.week span { 
    flex-grow: 1;
}

.notes { 
    display: flex;
    flex-direction: column;
}

.notes span:nth-child(1) {
    flex-basis: 29%;
}

.notes span:nth-child(2) {
    flex-basis: 50%;
}

span:nth-child(1),
span:nth-child(7) {
    flex-basis: 100%;
    padding-bottom: 100px;
}
